@import "tailwindcss";

@theme {
    --font-sans: "Manrope", sans-serif;
    --font-bebas: "Bebas Neue", sans-serif;

    --color-primary-fill: #0A0A0A;
    --color-neutral-offwhite: #C7C7C7;
    --color-neutral-white: #FFFFFF;
    --color-neutral-black: #0A0A0A;
    --color-primary: #D3E97A;
    --color-misc-fill: #222222;

    --color-primary-hover: #EBF5C3;
    --color-misc-fill-hover: #343434;

    --color-primary-active: #c0c98f;
    --color-misc-fill-active: ##404040;
}

body {
    background-color: var(--color-primary-fill);
    color: var(--color-neutral-offwhite);
    overflow-x: hidden;
}